
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentDashboard</title>
    <link rel="stylesheet" href="/css/StudentMenu.css">
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <div class="loki-wrapper">
        <div class="loki-header">
            <div class="loki-container">
                <div class="loki-logo"></div>
                <input type="checkbox" id="loki-toggle" class="loki-toggle">
                <label for="loki-toggle"><span></span><span></span><span></span></label>
                <nav class="loki-menu loki-menu-style-2 loki-submenu-fade" role="navigation">
                    <ul>
                        <li class="loki-menu-current">
                            <input type="checkbox" id="loki-1539847293313">
                            <a href="#">
                                Главная
                                <label for="loki-1539847293313"></label>
                            </a>
                            <ul>
                                <li>
                                    <a href="#">Курсы</a>
                                </li>
                                <li>
                                    <a href="#">Личный кабинет</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Видео курсы</a>
                        </li>
                        <li>
                            <a href="#">Сообщения</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="loki-header-shadow"></div>
        </div>
        <div class="loki-header-spacer"></div>
    </div>
</body>
</html>
